/*----------------------
    Company value Styles 
------------------------*/

.idx-company-value {
    padding: 20px 0;
    .value {
        list-style: none;

        display: flex;
        justify-content: center;
        display: -webkit-flex;
        display: -moz-box;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -moz-flex;

        li {
            margin: 0 auto;
            padding-top: 33px;
            height: 100px;
            width: 100px;
            cursor: pointer;
            font-size: 50px;
            font-weight: 800;
            text-align: center;
            border-radius: 50%;
            // line-height: 50px;
            background: $lighter-color;
            border: 2px solid $extra09-color;
            z-index: 2;

                    transition: background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
               -moz-transition: background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
            -webkit-transition: background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1);

            &:hover,
            &.active {
                color: $white-color;
                background: $extra09-color;
            }
            @media #{$md-layout} {
                font-size: 35px;
                height: 80px;
                width: 80px;
                padding-top: 25px;
            }
            @media #{$sm-layout} {
                height: 50px;
                width: 50px;
                padding-top: 10px;
                font-size: 20px;
            }
        }

        &::before {
            content: "";
            display: block;
            width: 80%;
            top: 50%;
            left: 10%;
            position: absolute;
            border: 1px solid $extra09-color;
        }
    }

    .value-description {
        margin: 35px 0 0;
        
        .navigator {
            color: $extra09-color;
            // margin: 30px 0;
            font-size: 75px;
            font-weight: 100;
            border: none;

            &:disabled {
                opacity: .1;
                cursor: not-allowed;
            }

            @media #{$md-layout} {
                font-size: 25px;
            }
            @media #{$sm-layout} {
                padding: 2.5px 4px;
                font-size: 19px;
                position: absolute;
                background-color: #ffffff;
                width: 30px;
                height: 30px;
                top: 38%;
                text-align: center;
                border-radius: 50%;
                box-shadow: 2px 1px 3px rgba(131, 130, 130, 0.548);
                z-index: 1;
                &.left {
                    left: 10px;
                }
                &.right {
                    right: 10px;
                    box-shadow: -2px 1px 3px rgba(131, 130, 130, 0.548);
                }
            }
        }
        .value-description-text{
            padding: 25px 45px;
            margin: 0 10px;
            font-size: 23px;
            font-weight: 100;
            background: $lightest-color;

                    transition: height 3s cubic-bezier(0.075, 0.82, 0.165, 1);
               -moz-transition: height 3s cubic-bezier(0.075, 0.82, 0.165, 1);
            -webkit-transition: height 3s cubic-bezier(0.075, 0.82, 0.165, 1);

            .word {
                font-weight: 900;
                color: rgb(36, 36, 36);
            }

            @media #{$md-layout} {
                font-size: 21px;
            }
            @media #{$sm-layout} {
                font-size: 18px;
            }
        }
    }
}